
<!-- Fondo con imagen naranja -->
<body class="fondoimagen ">
	

<!--  Navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top navbar-main">
	<div class="container">
		<!-- logo -->
		<a class="navbar-brand fw-bold text-white" href="#"> <img src="../../../assets/img/logoblancoRifaFacil.png" alt="logo rifafacil" 
			></a>
			
		<!-- Botón Menu -->
		<button aria-controls="navbarSupportedContent"
			aria-expanded="false" aria-label="Barra de navegación" class="navbar-toggler"
			data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span
				class="navbar-toggler-icon"></span></button>

        <!--Items  -->
		<div class="collapse navbar-collapse" id="mainNav">			
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" href="index.html">Inicio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#caracteristicas">Características</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#precio">Precio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#contactar">Contactar</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

	

<div class="container " >
<!-- Header -->
	<header class="row ">
		<div class="px-4 py-5 my-5 text-center text-white">
			<h3 class="text-white" >Consigue dinero para tus proyectos con nuestras</h3>
			<h1 class="display-5 fw-bold">RIFAS DE 100 NÚMEROS ONLINE</h1>
			<div class="col-lg-8 mx-auto">
				<p class="text-white  fw-light ">Crea tu rifa de 100 números, compártela en redes sociales y consigue financiación de forma fácil para
					tus proyectos, tu asociación, viajes de fin de curso, actos benéficos, etc.</p>
				<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
					<button type="button" (click)="login()"
						class="btn btn-outline-light btn-lg rounded-pill px-4  border boton">Empezar</button>
				</div>
			</div>
		</div>
	</header>
</div>

</body>

<!-- Footer -->
<div class="container" >
	<footer>
	  
		<div class=" text-center text-secondary">
			<p>Desarrollado por  <a href="https://llega.es/" style="color:orangered ;">Llega.es</a>. Copyright 2023</p>
		  </div> 
	  
	</footer>
  </div>


  
 

 

		

