<!-- modal.component.html -->
<div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Número:  {{data.numero}}</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="onCloseModal()"
          ></button>
        </div>
        <div class="modal-body">

            <form [formGroup]="crearapuesta"  (ngSubmit)="guardardatos(data.id, data.idrifa)">
                        

                <div class="row">
                  <span *ngIf="submitted && crearapuesta.invalid"  class="badge text-bg-danger"> TODOS LOS CAMPOS SON OBLIGATORIOS</span>

                       <div class="col">
                     <div class="mb-3">
                       <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                       <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="nombre"   placeholder="Nombre">
                     </div>
                   </div>
               
                   <div class="col">
                 <div class="mb-3">
                   <label for="exampleFormControlInput1" class="form-label">Teléfono</label>
                   <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="telefono" placeholder="Telefono">
                 </div>
                   </div>
                   </div>

                   <div class="row">
                    <div class="col">
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Mostrar datos</label>
                        <select class="form-select" formControlName="mostrar" aria-label="Default select example">
                            <option disabled="disabled" >Elija una opción</option>
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                            
                          </select>
                      </div>
                  
                </div>
            
                <div class="col">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Estado de Pago</label>
                <select class="form-select" formControlName="estadopago" aria-label="Default select example">
                    <option disabled="disabled">Elija una opción</option>
                    <option value="Libre">Libre</option>
                    <option value="Pagado">Pagado</option>
                    <option value="Pendiente">Pendiente</option>
                  </select>
              </div>
                </div>
                </div>
                <div class="row">  

                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Anotación:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="nota" rows="3"></textarea>
                  </div>
                  
                
                </div>
                   

             
          
         
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="onCloseModal()"
          >
            Cerrar
          </button>
          <button type="submit" class="btn btn-primary" >
            Guardar
          </button>
          
        </div>
    </form>
      </div>
    </div>
  </div>
